<div class="center hero-unit">
<h1>Welcome to Instagap</h1>
<h2>The fast way to <%=link_to "globalGAPify",'http://www.globalgap.org'%>  your fresh produce </h2>
<div id="homeleft">
<h3>An incredibly powerfull globalGAP assistant.</h3>


<p><b>Organize Your Certification Projects.</b> Use folders, tags, contexts, subtasks and more to organize, search and sort through your projects.</p>


<p><b>Improve Your Productivity.</b> Instagap's hotlist, customizable alarms, and sortable online to-do list will help you remember to complete tasks on-time prior to any auditing .</p>


<p><b>Go Anywhere.</b> Get Instagap on your mobile phone, in your email, on your calendar, integrated directly into your web browser, and more.</p>


<p><b>Collaborate.</b> Easily work with other people on shared projects with Instagap's collaboration tools.</p>


<p><b>Customize.</b> Select fields you want to use and define how you want to view your tasks.  Instagap is incredibly flexible and customizable.</p>

</div>
<p><b>Import Your Existing Tasks.</b> If you already use a task manager, import tasks from many sources.</p>


<% if user_signed_in? %>Welcome <%=current_user.email%> 
<%else%>
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-success" %> </div>
<%=link_to image_tag("rails.png",alt:"instagap")%>
<%end%>

</div>